body{
  background-image: url("../images/photodesktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 960px;
  max-width: 1440px;
  font-family: 'Koho', sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  background-color: rgb(119, 119, 119, 0.50);
  height: 40px;
}

li{
  display:inline;
  list-style-type: none;
  margin: 0 .75rem;
}

a {
  color: white;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
}

a:hover {
  color: #4A90E2;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 30px;
  padding-top: 16px;
  animation-name: mymove;
  animation-duration: 2s;
}

main {
  text-align: center;
  margin: 200px;
}

.mytittle {
  height: 300px;
  color: #2464AF;
}

footer{
  text-align: center;
  height: 50px;
  color: white;
}

@keyframes mymove {
  from {
  margin-top: 500px
  }
  to{
  padding-top: 16px;
  }
}
